<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Map" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8"/>
    <title>서울 바람</title>
    <meta itemprop="name" property="og:title" content="서울바람"/>
    <meta name="description" itemprop="description" property="og:description" content="Seoul Weather/AirPollution Information"/>
    <meta name="author" itemprop="author" content="Dowon Yi"/>


    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/seoulwind/static/windows/test_air.css"/>
</head>
<body>
    <div id="display" data-topography="/data/topo_json/"
                      data-type="{{ data_type }}" data-date="" data-samples="/data/current/">
        <div id="map">
            <svg id="map-svg" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
        </div>
        <div id="field">
            <canvas id="field-canvas"></canvas>
        </div>
        <div id="overlay">
            <canvas id="overlay-canvas"></canvas>
        </div>
        <div id="details">
            <h1 id="type">서울 바람</h1>
        <span>Overlay | </span>
            <span class="text-button" id="wind">None</span><span> / </span>
            <span class="text-button" id="pm25">PM<span class="sub">2.5</span></span><span> / </span>
            <span class="text-button" id="pm10">PM<span class="sub">10</span></span><span> / </span>
            <span class="text-button" id="so2">SO<span class="sub">2</span></span><span> / </span>
            <span class="text-button" id="no2">NO<span class="sub">2</span></span><span> / </span>
            <span class="text-button" id="o3">O<span class="sub">3</span></span><span> / </span>
            <span class="text-button" id="co">CO<span class="sub">2</span></span><span> / </span>
            <span class="text-button" id="temperature">Temp</span><span> / </span>
            <span class="text-button" id="humidity">Hum</span><span> / </span>
        </div>
        <div id="about">
            <h1>About</h1>
            <p>Air Data |
                <a href="http://cleanair.seoul.go.kr/">서울시 대기환경 정보</a>, 
                <a href="http://aws.seoul.go.kr/">서울시 자동기상관측시스템</a></p>
            <p>Map Data | <a href="https://github.com/southkorea/seoul-maps">seoul-maps</a></p>
            <p>Source | <a href="https://github.com/akahard2dj/SeoulWind">github.com/akahard2dj/SeoulWind</a></p>
            <p>Inspiration |
                <a href="http://hint.fm/wind/">HINT.FM wind map</a>,
                <a href="https://air.nullschool.net/">東京風速</a></p>
        </div>
    </div>

    <script src="https://storage.googleapis.com/seoulwind/static/windows/js/require.v2.3.2.min.js"></script>
    <script src="https://storage.googleapis.com/seoulwind/static/windows/test_air_config.js"></script>

    <script src="https://storage.googleapis.com/seoulwind/static/windows/test_air.js" charset="utf-8"></script>

</body>
</html>
